@charset "UTF-8";
/* base
================================ */
* {
  box-sizing: border-box;
}

/* HTMLとbodyの初期設定 */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* bodyの最小高さを設定し、コンテンツに合わせて伸びるようにする */
  /* min-height: 100vh; */
}

body {
  color: #000000;
  font-family: YuMincho, 'Yu Mincho', 'Hiragino Mincho ProN', 'serif';
  position: relative;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #303437;
  text-decoration: none;
}

a:hover {
  color: #5b0d9f;
}

.border {
  border-top: solid #666666 1px;
  border-bottom: solid #666666 1px;
  padding: 20px 0;
}

.tagBtn {
  display: inline-block;
  border-radius: 80px;
  border: solid #666666 2px;
  text-align: center;
  padding: 5px 8px;
  margin: 5px;
  font-size: 0.8rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

span {
  display: block;
}

.ballet-heading {
  font-family: 'Ballet', cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

/* layout
================================ */

#wrap {
  flex-wrap: wrap;
  width: 100%;
  max-width: 1180px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

header {
  position: relative;
}

.menuBtn {
  width: 100px;
  height: 40px;
  background-color: white;
  line-height: 35px;
  padding: 0;

  position: absolute;
  top: 5%;
  right: 8%;
}

/* drawer */

#drawerCheckbox {
  display: none;
}

#drawerClose {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 600;
}

#drawerCheckbox:checked ~ #drawerClose,
#drawerCheckbox:checked ~ #gNavi {
  display: block;
}

#gNavi {
  display: none;
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 400px;
  background: #fff;
  z-index: 1000;
  padding-top: 100px;
  animation: fadeIn 0.3s cubic-bezier(0.8, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gNaviItem {
  margin: 20px 0;
  text-align: center;
}

.fixedBox {
  background-color: #ffffff;
  border-radius: 70px;
  border: solid #666666 2px;
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 8%;
  left: 50%;
  transform: translate(-50%);
  overflow: scroll;
}

/* モーダルのスクロールバー非表示 */

/* （Edge・Firefox） */
.fixedBox {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* （Chrome・Safari） */
.fixedBox::-webkit-scrollbar {
  display: none;
}

#contentsWrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  /* top: 8%; */
}

/* ============ */
/* 
@media screen and (max-width: 479px) {
  #wrap {
    max-width: 375px;
  }

  .menuBtn {
    top: 5% !important;
    right: 8%;
  }

  .ballet-heading {
    width: 300px;
    left: 70% !important;
  }

  .heading-bigger {
    width: 300px;
    left: 10% !important;
  }
} */

.logoArea {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 479px) {
  svg {
    width: 20% !important;
  }

  .heading1Area {
    white-space: nowrap;
  }
}

svg {
  overflow: visible;
  width: 100px;
  height: 200px;
  display: block;
}

/* svg:nth-of-type(2) {
  left: 70%; 
} */

.heading1Area {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ballet-heading {
  font-size: 2rem;
  margin: 0 auto;
  /* background-color: #e4afbe; */
  justify-content: center;
}

.heading-bigger {
  font-size: 3rem;
  position: absolute;
  left: 10%;
}

/* @media screen and (min-with: 900px) {
  .thumbnailArea {
    display: flex;
  }

  .thumbnailItem {
    width: 50%;
  }
} */

.contentsArea {
  width: 100%;
  padding: 40px 0;
}

.contentsArea:nth-of-type(1) {
  margin-top: 50px;
}

.contentsHeading {
  background-color: #e4afbe;
  border-radius: 80px;
  width: 100px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.thumbnailItem {
  border-bottom: none;
  display: flex;
  justify-content: center;
}

.thumbnailItem:nth-child(3) {
  border-bottom: solid #666666 1px;
}

.modalOpen {
  position: relative;
  z-index: 10;
}

.thumbnailImage {
  border: dotted #666666 1px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.thumbnailText {
  border-left: solid #666666 2px;
  width: 80%;
  padding: 0 10px;
  margin: 0 auto;
}

.thumbnailTitle {
  font-size: 1rem;
  padding: 0 0 5px 0;
  text-align: left;
}

.thumbnailDescripition {
  font-size: 0.7rem;
  text-align: left;
}

.modal {
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  position: fixed;
  inset: 0; /* 上下左右すべて「0」位置 */
  z-index: 900;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.modalBox {
  background-color: #fff;
  border-radius: 30px;
  width: 400px;
  max-height: 650px;
  padding: 20px;
  overflow: scroll;
}

/* モーダルのスクロールバー非表示 */

/* （Edge・Firefox） */

.modalBox {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* （Chrome・Safari） */

.modalBox::-webkit-scrollbar {
  display: none;
}

/* ============ */

.modalContent {
  padding: 30px 0;
}

.modalHeading {
  border-left: solid #666666 3px;
  font-size: 1.3rem;
  margin: 0 0 30px 15px;
}

.modalTagArea {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 85%;
  margin: 0 auto;
}

.tag {
  border: none;
  background-color: #e4afbe;
  padding: 5px 8px;
  margin: 5px;
}

.modalLinkArea {
  flex-wrap: wrap;
  padding: 10px;
  width: 85%;
  border-top: none;
  margin: 0 auto;
}

.link {
  background-color: #c0afe4;
  padding: 5px 8px;
  margin: 5px;
}

.modalOverview,
.modalDescription {
  padding: 30px 0;
  width: 90%;
  margin: 0 auto;
}

.scroll {
  text-align: center;
  position: relative;
}

.scroll::after {
  content: '';
  width: 2px;
  height: 20px;
  background-color: #666666;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}

.modalDescriptionHeading {
  padding: 20px 0 0 0;
  width: 90%;
  margin: 0 auto;
}

h4.modalDescriptionHeading:nth-of-type(1) {
  padding: 100px 0 0 0;
}

.aboutmeItem {
  border-bottom: solid #666666 1px;
}

.aboutmeTextArea {
  padding: 0 20px 60px 20px;
}

.skillTagArea {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 20px 0;
}

.tagArea {
  width: 70%;
}

.skillTag {
  background-color: #ffd7d9;
}

#pageTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
}

footer {
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright {
  font-size: 0.5rem;
}
